body {
    margin : 0;
    font-family: "Roboto Slab", sans-serif;
}
.name{
    font-weight : bold;
    font-size: 60px;
}

.btn-primary {
    background-color: rgb(64, 64, 184);
    border-radius:  10px;
    box-shadow: 0 2px 2px black !important;
}
.btn-primary:hover {
    background-color: rgb(119, 119, 206);
}
.footer {
    line-height: 50px;
    margin-bottom: 0px;
    margin-top: 160px;
}
.navbar {
    position: fixed;
}